<h1>Make New Recipes</h1>
<hr/>
<% @recipes.each do |recipe| %>
<div class="row">
  <div class="col-md-2">
    <section class="chef know how">
      <%= gravatar_for recipe.chef,size:100 %>
      <h5>Chef name:<%= recipe.chef.name %></h5>
    </section>
  </div>
  <div class="col-lg-8 well">
    <h3><%= link_to recipe.name," " %></h3>
    <p>
      <%= recipe.summary%>
    </p>
    <p>
      <span class="quiet"><small><%= time_ago_in_words(recipe.created_at)%> ago</small></span>
    </p>
  </div>
</div>
<% end %>