<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to "Recipes",root_path,class:"btn btn-lg btn-success",id:"logo"%>
    <div class="nav_item">
      <%= link_to "link1","",class:"btn btn-sm btn-Default btn-warning",id:"link1"%>
    </div>
    <div class="nav_item">
      <%= link_to "Register",register_path,class:"btn btn-sm btn-default btn-warning",id:"link1"%>
    </div>
    <% if logged_in? %>
      <ul class="nav_item pull-right">
        <li class="dropdown">
          <%= link_to "#",class:"btn btn-lg btn-info dropdown-toggle","data-toggle"=>"dropdown" do %>
            <%= current_user.name %> <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "My Recipes",chef_path(current_user) %></li>
            <li><%= link_to "Create Recipe",new_recipe_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Edit Profile",edit_chef_path(current_user) %></li>
            <li><%= link_to "Log out",logout_path %></li>
          </ul>
        </li>
      </ul>
    <% else %>
      <div class="nav_item">
        <%= link_to "Log in",login_path,class:"btn btn-sm btn-info",id:"link1"%>
      </div>
    <% end %>
  </div>
</header>